#foreach ($user in $context.result.data.{USER_TABLE})
  #if ($user.id == $context.identity.username)
    #set ($user["__typename"] = "MyProfile")
  #else
    #set ($user["__typename"] = "OtherProfile")
  #end
#end

{
  "profiles": $util.toJson($context.result.data.{USER_TABLE}),
  "nextToken": $util.toJson($util.defaultIfNullOrBlank($context.prev.result.nextToken, null))
}